<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <nav class="navbar navbar-expand-lg  bg-dark navbar-dark ">
    <div class="container">
      <img src="https://www.axisbank.com/assets/images/logo-white.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/display">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
      </div>
    </div>
  </nav>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto:wght@400;700&family=Rokkitt:wght@700&display=swap');

    .container1 {
      color: black;
      font-size: 50px;
      margin: 50px;
      text-align: center;
      padding: 150px;
      background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/08/20120319-Campus_0036-3000x1688-c--light-default.jpg);

      height: 100%;
    }

    .data {
      font-size: 15px;
    }

    .data1 {
      font-size: 18px;
    }

    label{
      font-size: medium;
    }

    @media only screen and(max-width:767px) {


      h1 {
        font-size: 17px;
      }

      a {
        padding: 10px 15px;
        font-size: 10px;

      }

      p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
      }

      .data {
        font-size: 9px;
      }

      .data1 {
        font-size: 10px;
      }
    }
  </style>
  <div class="container1">
    <div class="alert alert-success">

    </div>


    <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <h1 class="shadow lg p-3 mb-5 bg-body rounded">Display</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="data1">
              <th>Name</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>AccountNo</th>
              <th>Account Balance</th>
              <th>ifscno</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% d.forEach((item) => { %>
              <tr class="data small">
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.number %></td>
                <td><%= item.accountno %></td>
                <td><%= item.accountbalance %></td>
                <td><%= item.ifscno %></td>
                <td>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#pay_<%= item.id %>" class="btn btn-primary">Transaction</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    
      <!-- Modals -->
      <% d.forEach((item) => { %>
        <div class="modal fade" id="pay_<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form  action="/transaction" method="post">
                  <div class="mb-3">
                    <label>Sender Account No':</label>
                    <input type="number" value="<%=item.accountno%>" name="sender" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label>Receiver Account No':</label>
                    <select type="number" name="reciever" class="form-control">
                      <% d.forEach((item)=>{ %>
                      <option value="<%= item.accountno %>"><%= item.accountno %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label>Amount:</label>
                    <input type="number" name="amount" class="form-control" minlength="10">
                  </div>
                  <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-outline-primary">Make Transaction</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>    
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
